,::before, *::after {
    box-sizing: border-box;
  }

  
{
  margin: 0;}

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

.head-text{
    margin-left: 10px;
}

.row-content {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dropdown {
  margin-right: 10px; 
  outline: 1px solid #DEE3E7;
  border-radius: 5px;
}   

.filter {
  margin-left: 5px;
  background-color: transparent; 
  outline: 2px solid #DEE3E7;
  border-radius: 5px;
}

.btn-add{
    background: #131C39;
    padding: 10px 40px;
    border-radius: 5px;
}

.table{
  overflow:hidden;
}

.table-responsive {
    border-radius: 10px;
}

.table-bordered.ebooks th {
    background-color: #131C39;
    color: #fff;
}

.btn-view:hover {
  background-color: #0a58ca !important;
  color: white !important;
}

.btn-edit:hover {
  background-color: #c68914 !important;
  color: white !important;
}

.btn-delete:hover {
  background-color: #b02a37 !important;
  color: white !important;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: white !important;
  color: #111;
  font-size: 11px;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -2.5em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 1px 1px 3px black;
  opacity: 5;
  border: 1px solid white;
  z-index: 99999;
  font-weight: 500 !important;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

