.upload_dropzone {
  color: #1c1c39;
  background-color: #f3f5f7;
  outline: 2px dashed #1c1c39;
  outline-offset: -12px;
  transition: outline-offset 0.2s ease-out, outline-color 0.3s ease-in-out,
    background-color 0.2s ease-out;
}

.upload_dropZone.highlight {
  outline-offset: -4px;
  outline-color: var(--colorPrimaryNormal, #0576bd);
  background-color: var(--colorPrimaryEighth, #c8dadf);
}
.upload_svg {
  fill: var(--colorPrimaryNormal, #0576bd);
}

.label{
    font-size: 10px;
    margin-top: 10px;
}


