.montserrat-thin {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 100 !important;
  font-style: normal !important;
}

.montserrat-extralight {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 200 !important;
  font-style: normal !important;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal !important;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 900 !important;
  font-style: normal !important;
}
