.profile_pic{
    position: absolute;
    top:0; 
    bottom:0;
    left: 0;
    right: 90em ;
    margin: 0 auto;
    margin-top: -11em;
    z-index: 1;
}

:root {
  --tblr-font-sans-serif:  "Montserrat", sans-serif !important;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #FFBC3A;
    color: #1c;
    font-weight: bold;
  }

  @media only screen and (max-width: 768px) {
    .profile_pic {
      right: 0;
    }
  }

  @media only screen and (min-width: 1400px) {
    .profile_pic {
        right: 90em;
    }
  }
