.avatar{
    top: 17em;
    left: 6em
}

.info{
    position: relative;
    top: 7em;    
}

.right-info{
    margin-top: -4em;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #FFBC3A;
    color: #1c;
    font-weight: bold;
  }
