.avatar{
    position: absolute;
    top:0; 
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.info{
    position: relative;
    top: 7em;    
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #FFBC3A;
    color: #1c;
    font-weight: bold;
  }
