.regBody
{
    background: url(/Cdn/images/reg-bg1.png)top right/cover no-repeat fixed;
}


.regForm{
    width: 850px;
    height: 100%;
}


:root {
    --tblr-font-sans-serif:  "Montserrat", sans-serif !important;
  }

  @media (max-width: 576px) { 

    .regForm
    {
width: fit-content;
height: fit-content;
border-radius:20px;
margin: 10px;

    }
   }